@page "/formleilao"
@using SourceCode.Feiras;
@using SourceCode.Stands;
@using SourceCode;
@using SourceCode.WebClasses;
@using FeirasEspinhoBlazorApp.Pages.PagesFeira;

<div>
	<h2>Formulário Leilão</h2>
	<div>
		<label><b>Quantidade a leiloar</b></label>
		<input type="text" class="tb" id="quantidade" name="quantidade" placeholder="Insira a quantidade a vender" @bind-value="quantidade" />
		<br />
		<label><b>Valor máximo</b></label>
		<input type="text" class="tb" id="valormax" name="valormax" @bind-value="valorMax" />
		<br />
		<label><b>Valor mínimo</b></label>
		<input type="text" class="tb" id="valormin" name="valormin" @bind-value="valorMin" />
		<br />
		<label><b>Data Limite</b></label>
		<input type="text" class="tb" id="date" name="date" @bind-value="date" />
	</div>
	<br />
	<div class="tableFixHead">
		<table>
			<thead>
				<tr>
					<th>Produto</th>
					<th>Preço</th>
					<th>Stock</th>
				</tr>
			</thead>
			<tbody>
			@foreach (var produto in tabelContent.Content)
			{
				<tr class=@tabelContent.Cssclasses[produto.Item1] @onclick="() => tabelContent.SelectedRow(produto.Item1)">
					<td> @produto.Item2.Nome</td>
					<td> @produto.Item2.Preco</td>
					<td> @produto.Item2.Stock</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
	<br />
	<div>
		<button class="buttonA buttonTable1" @onclick="CriarLeilao">Criar Leilão</button>
		<button class="buttonA buttonTable2" @onclick="Retroceder">Retroceder</button>
	</div>
</div>
@code 
{
	[Parameter, EditorRequired]
	public int idStand { get; set; }
	[Parameter, EditorRequired]
	public int idFeira { get; set; }
	private int quantidade = 0;
	private int valorMax = 0;
	private int valorMin = 0;
	private string date = "";
	private Table<Produto> tabelContent;
	private int lp = -1;
	protected override void OnInitialized()
	{
		Stand stand = SistemaFeiras.GetInstance().GetStand(idStand);
		List<Produto> conteudo = stand.Produtos;
		this.tabelContent = new Table<Produto>(conteudo);
	}
	private void CriarLeilao()
	{
		DateTime param;
		if(DateTime.TryParse(date, out param))
		{
			Produto p = tabelContent.GetElement();
			Leilao l = new Leilao(0, param, valorMin, valorMax != 0 ? valorMax : null, p.IdProduto, p.Stand, idStand, idFeira, 0);
			SistemaFeiras.GetInstance().AddLeilao(l);
			ShowLeiloesComponent.GetInstance().GetBack();
		}
	}
	private void Retroceder()
	{
		FeiraSelectComponent.GetInstance().GetBack();
	}

}
