################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FeirasEspinhoBlazorApp/FeirasEspinhoBlazorApp/bin/Debug/net7.0
/FeirasEspinhoBlazorApp/FeirasEspinhoBlazorApp/obj/Debug/net7.0
