@page "/login"
@inject NavigationManager _navigationManager
@using SourceCode.WebClasses;

<PageTitle>Página de autenticação</PageTitle>

<h1>Feiras Virtuais de Espinho</h1>

<br />

<div class="page">
	<main>
		@if (erro != 0)
		{
			<NotificationComponent mensagem="@codigosErro[erro]" sucess="false" />
		}
		<div>
			<label><b>Email</b></label>
			<input type="text" id="email" name="email" placeholder="Insira o seu email"  @bind-value="email"/>
		</div>
		<br />
		<div>
			<label> <b>Palavra passe</b> </label>
			<input type="password" id="password" name="password" @bind-value="password" />
		</div>
		<br />
		<div>
			<button class="buttonA" @onclick="verificaCredencais">Autenticar</button>
		</div>
	</main>
</div>


@code 
{
	private int erro = 0;
	private string email = "";
	private string password = "";
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	protected override void OnInitialized()
	{
		this.codigosErro.Add(1, "Dados de acesso incorretos");
		this.codigosErro.Add(2, "Campos incompletos");
	}
	private void verificaCredencais()
	{
		bool existe = true;
		if(email.Length == 0 || password.Length == 0)
		{
			this.erro = 2;
		}
		else 
		{
			// método a perguntar à base de dados se existe
			if(existe)
			{
				NavMenu.GetInstance().lista = NavBar.GetInstance().GetMenu((int)NavBar.menusNomes.Cliente);
				NavMenu.GetInstance().show = true;
				NavMenu.GetInstance().Refresh();
				_navigationManager.NavigateTo("user");
			}
			else
				this.erro = 1;
		}
	}
}
