@page "/login"
@inject NavigationManager navigationManager;
@inject SistemaFeiras facade;
@using SourceCode.WebClasses;
@using SourceCode.Utilizadores;
@using Data;
@using SourceCode;
@using System.Text.Json;


<PageTitle>Página de autenticação</PageTitle>


<h1>Feiras Virtuais de Espinho</h1>
<br />
<div class="page">
	<main>
		@if(erro != 0)
		{
			<WarningComponent mensagem="@codigosErro[erro]" sucess="false" page="1" />
		}
		<div>
			<label><b>Email</b></label>
			<input type="text" class="tb" id="email" name="email" placeholder="Insira o seu email" @bind-value="email" />
		</div>
		<br />
		<div>
			<label> <b>Palavra passe</b> </label>
			<input type="password" class="tb" id="password" name="password" @bind-value="password" />
		</div>
		<br />
		<div>
			<button class="buttonA" @onclick="Login">Autenticar</button>
		</div>
	</main>
</div>


@code 
{
	private int erro = 0;
	private string email = "";
	private string password = "";
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	private static LoginComponent login;
	protected override async Task OnInitializedAsync()
	{
		login = this;
		this.codigosErro[1] = "Dados de acesso incorretos";
		this.codigosErro[2] = "Campos incompletos";
		this.codigosErro[3] = "Login SUCESSO";
		this.codigosErro[4] = "Login INSUCESSO";
	}
	private void CleanFields()
	{
		email = "";
		password = "";
	}
	public static LoginComponent GetInstance()
	{
		return login;
	}
	private async Task VerificaCredencais()
	{
		erro = 0;
		StateHasChanged();
		if(email.Length == 0 || password.Length == 0)
		{
			this.erro = 2;
		}
		else 
		{
			try
			{
				// Utilizador? user = await UtilizadoresDAO.GetInstance().GetUtilizador2(email);
				Utilizador? user = facade.Login(email,password);
				if (user != null)
				{
					switch (user.GetType().Name)
						{
							case "Cliente":
							NavBar.GetInstance().LoginCL(email);
							NavMenu.GetInstance().lista = NavBar.GetInstance().GetMenu((int)NavBar.menusNomes.Cliente);
						break;
						case "Feirante":
							NavBar.GetInstance().LoginFeirante(email);
							NavMenu.GetInstance().lista = NavBar.GetInstance().GetMenu((int)NavBar.menusNomes.Feirante);
						break;
						case "Administrador":
							NavBar.GetInstance().LoginAdmin(email);
							NavMenu.GetInstance().lista = NavBar.GetInstance().GetMenu((int)NavBar.menusNomes.Admin);
							break;
					}
					NavMenu.GetInstance().show = true;
					NavMenu.GetInstance().Refresh();
					navigationManager.NavigateTo("user/" + email);
				}
				else
					erro = 4;
				StateHasChanged();
			}
			catch (Exception e)
			{
				this.erro = 3;
				codigosErro[3] = e.Message;
			}
		}
	}
	public void Login()
	{
		VerificaCredencais();
	}
	public void Logout()
	{
		this.CleanFields();
		StateHasChanged();
	}
}
