@page "/formcandidatura"
@using SourceCode;
@using SourceCode.Feiras;
@inject NavigationManager navigation;

@if(confirmou)
{
	<UserComponent email="@email"/>
}
else
{
	<h3>Candidatura para a feira</h3>
	<div>
		<div>
			<label><b>Email</b></label>
			<input type="text" class="tb" id="email" name="email" @bind-value="email" readonly="readonly" />
		</div>
		<br />
		<div>
			<label><b>Id Feira</b></label>
			<input type="text" class="tb" id="feira" name="feira" @bind-value="nameFeira" readonly="readonly" />
		</div>
		<div>
			<label><b>Id Stand</b></label>
			<input type="text" class="tb" id="stand" name="stand" @bind-value="idStand" readonly="readonly" />
		</div>
		<div>
			<button class="buttonA" @onclick="Confirmar">Confirmar</button>
		</div>
	</div>
}
		

@code
{
	[Parameter, EditorRequired]
	public string email { get; set; }
	[Parameter, EditorRequired]
	public int idFeira {get; set;}
	[Parameter, EditorRequired]
	public int idStand { get; set; }
	private string nameFeira;
	private bool confirmou = false;

	public void Confirmar()
	{
		Feira f = SistemaFeiras.GetInstance().GetFeira(idFeira);
		nameFeira = f.Nome;
		SistemaFeiras.GetInstance().CriaCandidatura(idStand, idFeira);
		confirmou = true;
	}
}
