@page "/formcandidatura"
@using SourceCode;
@using SourceCode.Feiras;
@inject NavigationManager navigation
@inject SistemaFeiras facade


<PageTitle>Criar candidatura</PageTitle>

<h2>Candidatura para a feira</h2>
<div>
	<div>
		<label><b>Email</b></label>
		<input type="text" class="tb" id="email" name="email" @bind-value="email" readonly="readonly" />
		<br />
		<label><b>Id Feira</b></label>
		<input type="text" class="tb" id="feira" name="feira" @bind-value="nameFeira" readonly="readonly" />
		<br />
		<label><b>Id Stand</b></label>
		<input type="text" class="tb" id="stand" name="stand" @bind-value="idStand" readonly="readonly" />
	</div>
	<div>
		<button class="buttonA" @onclick="Confirmar">Confirmar</button>
	</div>
</div>
		

@code
{
	[Parameter, EditorRequired]
	public string email { get; set; }
	[Parameter, EditorRequired]
	public int idFeira {get; set;}
	[Parameter, EditorRequired]
	public int idStand { get; set; }
	private string nameFeira;

	protected override void OnInitialized()
	{
		Feira f = facade.GetFeira(idFeira);
		nameFeira = f.Nome;
	}

	public void Confirmar()
	{
		//int idCandidatura, DateTime dataSubmissao, bool aprovacao, int idStand, int idFeira
		facade.CriaCandidatura(new Candidatura(0,DateTime.Today,false,idStand,idFeira));
		navigation.NavigateTo("/user/" + email);
	}
}
