@page "/fastpurchase"
@inject NavigationManager navigation;

<PageTitle>Compra rápida</PageTitle>
<h3>Compra rápida</h3>
<br />

<div>
	<div>
		<label><b>Insira o número do cartão</b></label>
		<input type="text" class="tb" id="nrcartao" name="nrcartao" placeholder="xxxxxxxx" @bind-value="numeroCartao" />
	</div>
	<br />
	<div>
		<button class="buttonA buttonTable1" @onclick="Confirmar">Confirmar</button>
		<button class="buttonA buttonTable2" @onclick="Cancelar">Cancelar</button>
	</div>
</div>

@code 
{
	private string numeroCartao = "";
	public void Confirmar()
	{
		ShowStandComponent showStandComponent = ShowStandComponent.GetInstance();
		showStandComponent.ShowStand("Compra registada");

	}
	public void Cancelar()
	{
		ShowStandComponent showStandComponent = ShowStandComponent.GetInstance();
		showStandComponent.ShowStand(2);
	}

}
