@page "/fastpurchase"
@inject NavigationManager navigation;
@using SourceCode;
@using SourceCode.Vendas;
@inject SistemaFeiras facade;

<PageTitle>Compra rápida</PageTitle>
<h2>Compra rápida</h2>
<br />

<div>
	<div>
		<label><b>Valor Total</b></label>
		<input type="text" class="tb" id="preco" name="preco" @bind-value="venda.Preco" readonly="readonly"/>
	</div>
	<br />
	<div>
		<label><b>Insira o número do cartão</b></label>
		<input type="text" class="tb" id="nrcartao" name="nrcartao" placeholder="xxxxxxxx" @bind-value="numeroCartao" />
	</div>
	<br />
	<div>
		<button class="buttonA buttonTable1" @onclick="Confirmar">Confirmar</button>
		<button class="buttonA buttonTable2" @onclick="Cancelar">Cancelar</button>
	</div>
</div>

@code
{
	[Parameter, EditorRequired]
	public Venda venda  { get; set; }
	private string numeroCartao = "";
	public void Confirmar()
	{
		facade.AddVenda(venda);
		ShowStandComponent showStandComponent = ShowStandComponent.GetInstance();
		showStandComponent.ShowStand("Compra registada");

	}
	public void Cancelar()
	{
		ShowStandComponent showStandComponent = ShowStandComponent.GetInstance();
		showStandComponent.ShowStand(2);
	}

}
