@using SourceCode.Stands;
@using SourceCode;

<h2>Formulário Produto</h2>

@if (erro != 0)
{
	<WarningComponent mensagem="@codigosErro[erro]" sucess="false" page="2" />
}
<div>
	<label><b>Produto</b></label>
	<input type="text" class="tb" id="email" name="email" placeholder="Nome do produto" @bind-value="produto" />
</div>
<div>
	<label><b>Quantidade</b></label>
	<input type="text" class="tb" id="email" name="email" placeholder="Stock inicial" @bind-value="quantidade" />
</div>
<div>
	<label><b>Imposto</b></label>
	<input type="text" class="tb" id="email" name="email" placeholder="Indique o imposto associado" @bind-value="imposto" />
</div>
<div>
	<label><b>Preco</b></label>
	<input type="text" class="tb" id="email" name="email" placeholder="Preço produto" @bind-value="preco" />
</div>
<div>
	<button class="buttonA" @onclick="AdicionarProduto">Adicionar Produto</button>
	<button class="buttonA" @onclick="Retroceder">Retroceder</button>
</div>



@code 
{
	[Parameter, EditorRequired]
	public int page { get; set; }
	[Parameter, EditorRequired]
	public int stand { get; set; }
	private float imposto = 0;
	private int erro = 0;
	private bool sucess = false;
	private string sucmensagem;
	private string produto = "";
	private int quantidade = 0;
	private float preco = 0f;
	private string categoria = "";
	private Dictionary<int, string> codigosErro = new Dictionary<int, string>();
	private SistemaFeiras facade = SistemaFeiras.GetInstance();
	public void AdicionarProduto()
	{
		if (page == 0)
		{
			FormStandComponent.GetInstance().AdicionaProduto(new Produto(0, produto, 0, 0, quantidade, preco, true),imposto);
			FormStandComponent.GetInstance().GetBack();
		}
		else
		{
			facade.AddProduto(new Produto(0, produto, 0, stand, quantidade, preco, true), imposto);
			ShowStandComponent.GetInstance().ShowStand("Produto Adicionado");
		}
	}
	public void Retroceder()
	{
		if (page == 0)
		{
			FormStandComponent.GetInstance().GetBack();
		}
		else
		{
			ShowStandComponent.GetInstance().ShowStand(3);
		}
	}
}
