@page "/startnegociation"
@using SourceCode;
@using SourceCode.Vendas;
@using FeirasEspinhoBlazorApp.Pages.PagesNegociation;

<h2>Negociação</h2>
<br />

<div>
	<div>
		<label><b>Valor Total</b></label>
		<input type="text" class="tb" id="preco" name="preco" @bind-value="venda.Preco" readonly="readonly" />
	</div>
	<br />
	<div>
		<label><b>Insira o valor que pretende pagar</b></label>
		<input type="text" class="tb" id="precoNegocicao" name="precoNegocicao" placeholder="xxxxxxxx" @bind-value="valorapagar" />
	</div>
	<br />
	<div>
		<button class="buttonA buttonTable1" @onclick="Confirmar">Confirmar</button>
		<button class="buttonA buttonTable2" @onclick="Cancelar">Cancelar</button>
	</div>
</div>

@code
{
	[Parameter, EditorRequired]
	public Venda venda { get; set; }
	[Parameter, EditorRequired]
	public int returnPage { get; set; }
	private float valorapagar = 0;
	public void Confirmar()
	{
		if(returnPage == 0)
		{
			SistemaFeiras.GetInstance().AddNegociacaoVenda(venda, new Negociacao(0, venda.Preco, valorapagar, false, false));
			ShowStandComponent showStandComponent = ShowStandComponent.GetInstance();
			showStandComponent.ShowStand("Negociação registada");
		}
		else
		{
			SistemaFeiras.GetInstance().RegistaNovoPreco((int) venda.Negociacao, valorapagar);
			ShowNegociacoesComponent.GetInstance().GetBack("Preço Registado");
		}

	}
	public void Cancelar()
	{
		if (returnPage == 0)
			ShowStandComponent.GetInstance().ShowStand(3);
		else
			ShowNegociacoesComponent.GetInstance().GetBack(0);
	}
}
