@page "/evaluation/"
@using SourceCode.WebClasses;
@using SourceCode.Vendas;
@using SourceCode.Stands;
@using SourceCode.Utilizadores;
@using SourceCode;
@using FeirasEspinhoBlazorApp.Pages.PagesFeira;

<PageTitle>Avaliar</PageTitle>
<div>
	<h2>@name</h2>
	<br />
	<div>
		<input type="radio" name="nota1" value="nota1" @onclick="() => Avalia(1)" checked=@(avaliacao == 1) /><b> Nota 1</b>
		<br />
		<input type="radio" name="nota2" value="nota2" @onclick="() => Avalia(2)" checked=@(avaliacao == 2) /><b> Nota 2</b>
		<br />
		<input type="radio" name="nota3" value="nota3" @onclick="() => Avalia(3)" checked=@(avaliacao == 3) /><b> Nota 3</b>
		<br />
		<input type="radio" name="nota4" value="nota4" @onclick="() => Avalia(4)" checked=@(avaliacao == 4) /><b> Nota 4</b>
		<br />
		<input type="radio" name="nota5" value="nota5" @onclick="() => Avalia(5)" checked=@(avaliacao == 5) /><b> Nota 5</b>
	</div>
	<br />
	<div>
		<button class="buttonA buttonTable1" @onclick="Confirmar">Confirmar</button>
		<button class="buttonA" @onclick="Passar">Não Avaliar</button>
	</div>
</div>
@code 
{
	[Parameter, EditorRequired]
	public int avaliar { get; set; }
	[Parameter, EditorRequired]
	public int idFeira { get; set; }
	[Parameter, EditorRequired]
	public string feirante { get; set; }
	[Parameter, EditorRequired]
	public string email { get; set; }
	private String name = "Que nota gostaria de dar ";
	private int avaliacao = -1;
	private Dictionary<int, string> codigosErros = new();
	protected override async void OnInitialized()
	{
		if (avaliar == 0)
			name += "à feira: " + SistemaFeiras.GetInstance().GetFeira(idFeira).Nome + "?";
		else
			name += "ao feirante: " + SistemaFeiras.GetInstance().GetUtilizador(feirante).Username + "?";
		codigosErros[1] = "Nenhuma Avaliação selecionada";
	}
	public void Avalia(int avaliacao)
	{
		this.avaliacao = avaliacao;
	}
	public void Confirmar()
	{
		if(avaliacao != -1)
		{
			if (avaliar == 0)
				SistemaFeiras.GetInstance().AddAvaliacaoFeira(email,idFeira,avaliacao);
			else
				SistemaFeiras.GetInstance().AddAvaliacaoFeirante(email, feirante, avaliacao);
			Passar();
		}
	}
	public void Passar()
	{
		if (avaliar == 0)
		{
			ShowFeirasComponent.GetInstace().GetBack();
		}
		else
		{
			ShowFeiraStandsComponent.GetInstace().GetBack();
		}
	}
}
