@page "/"

<PageTitle>Feiras Virtuais de Espinho</PageTitle>

<h1>Feiras Virtuais de Espinho</h1>
<br />
<div>
	Este projeto desenvolvido no âmbito da UC Laboratório de Informática IV no ano letivo 2022/23
</div>
<br />
<div>
	Website de auxilio às feiras de espinho.
</div>