@page "/"
@using Data;
@using SourceCode.Utilizadores;

<PageTitle>Feiras Virtuais de Espinho</PageTitle>

<div>
	<h1>
		Feiras Virtuais de Espinho
	</h1>
	<div id="imgcorner">
		<img class="img_topright" src="/uminho.png" />
		<img class="img_topright2" src="/EspinhoCity.png" />
	</div>
</div>
<br />
<div class="w-50">
	<p>Este website foi desenvolvido por alunos da Universidade do Minho do curso Licenciatura em Engenharia Informática
		no âmbito da UC Laboratório de Informática IV no ano letivo 2022/23.</p>
	<p>
		Autores do projeto:
		<ul>
			<li>© José Carvalho</li>
			<li>© Miguel Silva</li>
			<li>© José Mendes</li>
			<li>© Eduardo Henriques</li>
		</ul>
	</p>

</div>
<br />
<div>
	Website de auxilio às feiras de espinho.
</div>



@code
{

}