@page "/user/{email}"
@using FeirasEspinhoBlazorApp.SourceCode.Utilizadores;
@using FeirasEspinhoBlazorApp.SourceCode;
@using FeirasEspinhoBlazorApp.Pages.PagesFeira;
@using System.Text.Json;
@inject NavigationManager navigationManager

<PageTitle>Página de utilizador</PageTitle>

<h2>Bem vindo @user.Username</h2>

@code
{
	[Parameter, EditorRequired]
	public string email { get; set;  }
	private Utilizador user;
	protected override void OnInitialized()
	{
		user = SistemaFeiras.GetInstance().GetUtilizador(email);
		//user = JsonSerializer.Deserialize<Utilizador>(userStr);
	}
}
