@page "/user/{email}"
@using FeirasEspinhoBlazorApp.SourceCode.Utilizadores;
@using FeirasEspinhoBlazorApp.SourceCode;
@using FeirasEspinhoBlazorApp.Pages.PagesFeira;
@inject NavigationManager navigationManager;
@inject SistemaFeiras facade;

<PageTitle>Página de utilizador</PageTitle>

<h2>Bem vindo @user.Username</h2>

@code
{
	[Parameter, EditorRequired]
	public string email { get; set;  }
	private Utilizador user;
	protected override void OnInitialized()
	{
		user = facade.GetUtilizador(email);
	}
}
