@using SourceCode.WebClasses;
@inject NavigationManager _navigationManager

<div class="bottom_aligner">
	<button class="buttonA" @onclick="Logout">Logout</button>
</div>

@code
{
	public void Logout()
	{
		NavMenu.GetInstance().lista = NavBar.GetInstance().GetMenu((int)NavBar.menusNomes.Login);
		NavMenu.GetInstance().Refresh();
		_navigationManager.NavigateTo("login");
	}
}
