@page "/error"


<div class="alert">
	<div class="d-table w-100">
		<p class="d-table-cell"><b>@erro</b></p>
	</div>
</div>
<br />

@code
{
	[Parameter, EditorRequired]
	public string erro { get; set; }
}
