@using SourceCode.WebClasses;
@using FeirasEspinhoBlazorApp.Pages.PagesLogin;
@inject NavBar nav;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Feiras Virtuais de Espinho</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @foreach (Opcao op in nav.GetMenu())
        {  
            <div class="nav-item px-3">
                <NavLink class="nav-link" href=@op.Link Match="NavLinkMatch.All">
                    <span class=@op.Simbolo aria-hidden="true"></span> @op.Texto
                </NavLink>
            </div>
        }
        @if (nav.GetOpcao() != (int)NavBar.menusNomes.Login)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login" Match="NavLinkMatch.All" @onclick="Logout">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            </div>
        }
    </nav>
</div>

@code
{
    public bool show = false;
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private static NavMenu instance;
    protected override void OnInitialized()
    {
        nav.OnChange += StateHasChanged;
        instance = this;
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    public static NavMenu GetInstance()
    {
        return instance;
    }
    public void Refresh()
    {
        StateHasChanged();
    }
    public void Logout()
    {
        nav.Logout();
        show = false;
        nav.ChangeMenu((int)NavBar.menusNomes.Login);
    }
}
