@page "/notification"

@if(sucess)
{
	<div class="alert sucess">
		<div class="d-table w-100">
			<p class="d-table-cell"><b>@mensagem</b></p>
		</div>
	</div>
	<br />
}
else
{
	<div class="alert">
		<div class="d-table w-100">
			<p class="d-table-cell"><b>@mensagem</b></p>
		</div>
	</div>
	<br />
}

@code
{
	[Parameter, EditorRequired]
	public string mensagem { get; set; }
	[Parameter, EditorRequired]
	public bool sucess { get; set; }
}
