@page "/warning"
@using Pages.PagesLogin;
@using Pages.PagesFeira;
@using Pages.PagesStand;
@using Pages.PagesLeilao;
@using Pages.PagesNegociation;

@if(show)
{
	@if (sucess)
	{
		<div class="alert sucess">
			<div class="d-table w-100">
				<p class="d-table-cell w-100"><b>@mensagem</b></p>
				<!--<button class="buttonAlerta buttonSucess d-table-cell tar" @onclick="FechaAlerta">&times</button>-->
			</div> 
		</div>
		<br />
	}
	else
	{
		<div class="alert">
			<div class="d-table w-100">
				<p class="d-table-cell w-100"><b>@mensagem</b></p>
				<!--<button class="buttonAlerta d-table-cell tar" @onclick="FechaAlerta">&times</button>-->
			</div>
		</div>
		<br />
	}
}

@code
{
	[Parameter, EditorRequired]
	public string mensagem { get; set; }
	[Parameter, EditorRequired]
	public bool sucess { get; set; }
	[Parameter, EditorRequired]
	public int page { get; set; }
	private bool show = true;
	public void FechaAlerta()
	{
	}
}
